﻿
<!DOCTYPE html>
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Computech &mdash; Teknoloji Haber Portalı</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
  
   
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link rel="shortcut icon" href="favicon.ico">

  
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link href="~/Content/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/css/icomoon.css" rel="stylesheet" />
    <link href="~/Content/css/cards.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
   
    <!-- Modernizr JS -->
    <script src="~/Scripts/js/modernizr-2.6.2.min.js"></script>

</head>
<body>

    <div id="fh5co-page">
        <nav class="fh5co-nav-style-1" style="background-color:black" role="navigation" data-offcanvass-position="fh5co-offcanvass-left">
            <div class="container">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 fh5co-logo">
                    <a href="/Home" class="js-fh5co-mobile-toggle fh5co-nav-toggle"><i></i></a>
                    <a href="/Home">Computech</a>
                </div>
                <div class="col-lg-6 col-md-5 col-sm-5 text-center fh5co-link-wrap">
                    <ul data-offcanvass="yes">
                        <li><a href="/Home/Teknoloji">Teknoloji</a></li>
                        <li><a href="/Home/Inceleme">İnceleme</a></li>              
                        <li><a href="/Home/SosyalMedya">Sosyal Medya</a></li>

                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 text-right fh5co-link-wrap">
                    <ul class="fh5co-special" data-offcanvass="yes">
                        <li><a href="/Kullanici/Index">Giriş</a></li>
                        <li><a href="/Kullanici/Create" class="call-to-action">Üye Ol</a></li>
                    </ul>
                </div>
            </div>
        </nav>
  </div>
     <br>

        @RenderBody()

        <div class="fh5co-footer-style-3">
            <div class="container">
                <div class="row p-b">
                    <div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="fh5co-logo"><span class="logo">C</span> Computech</div>
                        <p class="fh5co-copyright">
                            &copy; 2017 Computech. <br>All Rights Reserved. <br>
                            Images: <a target="_blank" href="/Home">Unsplash</a>, <a target="_blank" href="/Home">Pexels</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                        <h3>Computech</h3>
                        <ul class="fh5co-links">
                            <li><a href="/Home/SosyalMedya">SosyalMedya</a></li>
                            <li><a href="/Home/Teknoloji">Teknoloji</a></li>
                            <li><a href="/Home/Inceleme">Inceleme</a></li>      
                        </ul>
                    </div>
                    <div class="clearfix visible-sm-block"></div>
                    <div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
                        <h3>Hakkimizda</h3>
                        <ul class="fh5co-links fh5co-social">
                            <li><a href="www.facebook.com"><i class="icon icon-facebook2"></i> Facebook</a></li>
                            <li><a href="www.twitter.com"><i class="icon icon-twitter"></i> Twitter</a></li>
                            <li><a href="www.instagram.com"><i class="icon icon-instagram"></i> Instagram</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
                        <h3>Hakkimizda</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        <p><a href="/Home" class="btn btn-danger btn-sm btn-outline">Basa Don</a></p>
                    </div>
                    <div class="clearfix visible-sm-block"></div>
                </div>
                <div class="row fh5co-made">
                    <div class="col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <p>Made with <i class="heart icon-heart"></i> in Turkey</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END footer -->
    </div>
    <!-- END page-->
    <script src="~/Scripts/js/wow.min.js"></script>
    <script src="~/Scripts/js/respond.min.js"></script>
    <script src="~/Scripts/js/owl.carousel.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/js/jquery.style.switcher.js"></script>
    <script src="~/Scripts/js/jquery.stellar.min.js"></script>
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/js/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/js/jquery.countTo.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script>
		new WOW().init();
    </script>
    <!-- Main -->
    <script src="js/main.js"></script>
</body>
</html>

