﻿@{
ViewBag.Title="Ana Sayfa";
}

<div class="fh5co-project-style-2">
    <div class="container">
        <div class="row p-b">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Aramıza Katıl !</h2>
                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s"><a href="#" class="btn btn-danger btn-lg">Üye Ol</a></p>
            </div>
        </div>
    </div>
    <div class="fh5co-projects">
        <ul>
            <li class="wow fadeInUp" style="background-image: url(images/full_4.jpg);" data-wow-duration="1s" data-wow-delay="1.4s" data-stellar-background-ratio="0.5">
                <a href="#">
                    <div class="fh5co-overlay"></div>
                    <div class="container">
                        <div class="fh5co-text">
                            <div class="fh5co-text-inner">
                                <div class="row">
                                    <div class="col-md-6"><h3>Popüler Haber #1</h3></div>
                                    <div class="col-md-6"><p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="wow fadeInUp" style="background-image: url(images/full_2.jpg);" data-wow-duration="1s" data-wow-delay="1.7s" data-stellar-background-ratio="0.5">
                <a href="#">
                    <div class="fh5co-overlay"></div>
                    <div class="container">
                        <div class="fh5co-text">
                            <div class="fh5co-text-inner">
                                <div class="row">
                                    <div class="col-md-6"><h3>Popüler Haber #2</h3></div>
                                    <div class="col-md-6"><p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="wow fadeInUp" style="background-image: url(images/full_1.jpg);" data-wow-duration="1s" data-wow-delay="2s" data-stellar-background-ratio="0.5">
                <a href="#">
                    <div class="fh5co-overlay"></div>
                    <div class="container">
                        <div class="fh5co-text">
                            <div class="fh5co-text-inner">
                                <div class="row">
                                    <div class="col-md-6"><h3>Popüler Haber #3</h3></div>
                                    <div class="col-md-6"><p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="fh5co-content-style-6">
    <div class="container">
        <div class="row p-b text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Yeni Eklenenler</h2>
                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                <a href="#" class="link-block">
                    <figure><img src="images/img_same_dimension_1.jpg" alt="Image" class="img-responsive img-rounded"></figure>
                    <h3>Responsive Layout</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p><a href="#" class="btn btn-primary btn-sm">Devamı...</a></p>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".8s">
                <a href="#" class="link-block">
                    <figure><img src="images/img_same_dimension_2.jpg" alt="Image" class="img-responsive img-rounded"></figure>
                    <h3>Retina Ready</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p><a href="#" class="btn btn-primary btn-sm">Devamı...</a></p>
                </a>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.1s">
                <a href="#" class="link-block">
                    <figure><img src="images/img_same_dimension_3.jpg" alt="Image" class="img-responsive img-rounded"></figure>
                    <h3>Creative UI Design</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p><a href="#" class="btn btn-primary btn-sm">Devamı...</a></p>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.4s">
                <a href="#" class="link-block">
                    <figure><img src="images/img_same_dimension_4.jpg" alt="Image" class="img-responsive img-rounded"></figure>
                    <h3>Responsive Layout</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p><a href="#" class="btn btn-primary btn-sm">Devamı...</a></p>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="fh5co-testimonial-style-2">
    <div class="container">
        <div class="row p-b">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Yorumlar</h2>
                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="fh5co-testimonial-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
                    <div class="fh5co-name">
                        <img src="images/person_5.jpg" alt="">
                        <div class="fh5co-meta">
                            <h3>Chris Clark</h3>
                            <span class="fh5co-company">XYZ Inc.</span>
                        </div>
                    </div>
                    <div class="fh5co-text">
                        <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="fh5co-testimonial-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
                    <div class="fh5co-name">
                        <img src="images/person_4.jpg" alt="">
                        <div class="fh5co-meta">
                            <h3>Ian Stewart</h3>
                            <span class="fh5co-company">XYZ Inc.</span>
                        </div>
                    </div>
                    <div class="fh5co-text">
                        <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. &rdquo;</p>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="fh5co-testimonial-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">
                    <div class="fh5co-name">
                        <img src="images/person_3.jpg" alt="">
                        <div class="fh5co-meta">
                            <h3>Mitch Silk</h3>
                            <span class="fh5co-company">XYZ Inc.</span>
                        </div>
                    </div>
                    <div class="fh5co-text">
                        <p>&ldquo;Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                    </div>
                </div>
            </div>

            <div class="clearfix visible-lg-block visible-md-block"></div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="fh5co-testimonial-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
                    <div class="fh5co-name">
                        <img src="images/person_1.jpg" alt="">
                        <div class="fh5co-meta">
                            <h3>Beth Glasgow</h3>
                            <span class="fh5co-company">XYZ Inc.</span>
                        </div>
                    </div>
                    <div class="fh5co-text">
                        <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. &rdquo;</p>
                    </div>
                </div>
            </div>

            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="fh5co-testimonial-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.3s">
                    <div class="fh5co-name">
                        <img src="images/person_2.jpg" alt="">
                        <div class="fh5co-meta">
                            <h3>Rob Smith</h3>
                            <span class="fh5co-company">XYZ Inc.</span>
                        </div>
                    </div>
                    <div class="fh5co-text">

                        <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="fh5co-testimonial-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.6s">
                    <div class="fh5co-name">
                        <img src="images/person_6.jpg" alt="">
                        <div class="fh5co-meta">
                            <h3>Colleen Bass</h3>
                            <span class="fh5co-company">XYZ Inc.</span>
                        </div>
                    </div>
                    <div class="fh5co-text">
                        <p>&ldquo;Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
        </div>
    </div>
</div>

