﻿
@{
    ViewBag.Title = "Teknoloji";
}
<br /><br /><br />
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-8 order-md-2">
       <h2 class="featurette-heading"> &nbsp; &nbsp; Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
       <p class="lead">&nbsp;&nbsp; Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-4 order-md-1">
        <img class="featurette-image img-fluid mx-auto"  style="width:400px;height:400px;" src="~/images/full_1.jpg" alt="Generic placeholder image">
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-8 order-md-2">
        <h2 class="featurette-heading"> &nbsp; &nbsp; Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">&nbsp;&nbsp; Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-4 order-md-1">
        <img class="featurette-image img-fluid mx-auto" style="width:400px;height:400px;" src="~/images/full_1.jpg" alt="Generic placeholder image">
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-8 order-md-2">
        <h2 class="featurette-heading"> &nbsp; &nbsp; Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">&nbsp;&nbsp; Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-4 order-md-1">
        <img class="featurette-image img-fluid mx-auto" style="width:400px;height:400px;" src="~/images/full_1.jpg" alt="Generic placeholder image">
    </div>
</div>
<hr class="featurette-divider">


